<!DOCTYPE html>
<html>
<head>
    <title>New Password</title>
</head>
<body>
<h1>Set a New Password</h1>
<form action="/auth/reset-password/<%= token %>" method="POST">
    <label for="password">New Password:</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Reset Password</button>
</form>
</body>
</html>
